{
  "root": true,
  "env": {
    "node": true,
    "es6": true,
    "jest": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["promise", "import"],
  "extends": ["eslint:recommended", "plugin:promise/recommended"],
  "rules": {
    "comma-dangle": ["error", {"arrays": "always-multiline", "objects": "always-multiline"}],
    "eol-last": ["error", "always"],
    // "func-style": ["error", "expression"],
    "prefer-arrow-callback": "error",
    "quotes": ["error", "single", {"avoidEscape": true}],
    "semi": "error",
    "no-console": "off",
    "no-unused-vars": "warn",

    "import/no-unresolved": [
      2,
      { "ignore": ["^firebase-admin/.+"] }
    ],
    "import/no-commonjs": 2,
    "import/extensions": [2, "ignorePackages"]
  }
}
