service cloud.firestore {
  function userIsAuthenticated() {
    return request.auth.uid != null;
  }

  match /databases/{database}/documents {
    match /applicants/{userId} {
      // Users can read & write to their own applicant document
      allow get, create, update: if request.auth.uid == userId;
    }

    match /applications/{application} {
      function currentApplicant() {
        return path("/databases/" + database + "/documents/applicants/" + request.auth.uid);
      }

      // Allow existing records which belong to the current user
      allow get, list: if resource.data.applicant == currentApplicant();

      // Allow new records if they will belong to the current user
      allow create: if request.resource.data.applicant == currentApplicant();

      allow update: if resource.data.applicant == currentApplicant() &&
          resource.data.state != "submitted";
    }

    match /vacancies/{vacancy} {
      // Authenticated users can read
      allow get: if request.auth.uid != null;
    }

    match /references/{reference} {
      // World readable if you know the document ID (`get` allowed)
      // But cannot query the collection (`list` not allowed)
      allow get;
    }

    match /tests/{test} {
      // Authenticated users can read
      allow get: if request.auth.uid != null;
    }

    match /usersTests/{userTest} {
      function belongsToCurrentUser(res) {
        return res.data.userUid == request.auth.uid;
      }

      function doesNotExist() {
        return resource == null;
      }

      // Allow read on records which belong to the current user
      // Also allow reads to documents which don't yet exist – so our client-side app can
      // listen for changes on documents it hasn't created yet
      allow get, list: if userIsAuthenticated() &&
                          (belongsToCurrentUser(resource) || doesNotExist());

      // Allow new records if they will belong to the current user
      allow create: if userIsAuthenticated() &&
                       belongsToCurrentUser(request.resource);

      // Allow updates on records which belong, and will continue to belonging, to the current user
      allow update: if userIsAuthenticated() &&
                       belongsToCurrentUser(resource) &&
                       belongsToCurrentUser(request.resource);
    }
  }
}
