{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:cypress/recommended"
  ],
  "env": {
    "es6": true,
    "cypress/globals": true
  },
  "plugins": [
    "cypress"
  ],
  "rules": {
    "comma-dangle": ["error", {"arrays": "always-multiline", "objects": "always-multiline"}],
    "eol-last": ["error", "always"],
    "func-style": ["error", "expression"],
    "prefer-arrow-callback": "error",
    "quotes": ["error", "single", {"avoidEscape": true}],
    "semi": "error"
  }
}
